<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.doane.ist.sudokuharvester">

    <!--
         Indicate that the app uses the device's existing camera app, and that it
         reads / writes external storage for the full-sized image captured by the
         camera.
    -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- configuration of initial activity -->
        <activity android:name=".StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Configure the FileProvider that allows us to deal with photo files -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="edu.doane.ist.sudokuharvester.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- configuration of decoder activity -->
        <activity
            android:name=".DecodeActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>